{%- set tplroot = tpldir.split('/')[0] -%}
{%- from tplroot ~ "/map.jinja" import crictl with context -%}
{%- from "common/vars.jinja" import
    node_kernel, node_osarch
-%}

{%- set package_base_url = crictl.source_url + '/' + crictl.source_version -%}
{%- set package_base_name = 'crictl-' + crictl.source_version + '-' + node_kernel + '-' + node_osarch -%}
{%- set package_dir = '/tmp/' + package_base_name -%}
{%- set package_source = package_base_url + '/' + package_base_name + '.tar.gz' -%}
{%- set package_source_hash = package_source + '.sha256' -%}

{%- set crictl_bin_path = crictl.install_dir + '/crictl' -%}
